@import "./global-styles/theme/theme";

.Footer {
  background: black;
  color: $footer-font-color;
  width: 100%;
  padding: 35px 0;

  .link-container {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: space-around;
    
    @media only screen and (max-width: $mobileL) {
      flex-direction: column;
      align-items: center;
    }

    .link {
      margin: 5px 10px;
    }
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .icon {
      border: 1px solid $footer-font-color;
      text-align: center;
      margin: 0 10px;
      height: 50px;
      width: 50px;
    }
  }
}