.Header {
  font-size: 12px;
  margin: 58px 0 15px 0;
  padding-left: 20px;

  span {
    color: #5C5C5C;
  }

  a {
    text-decoration: none;
    &:visited { color: #5C5C5C; }
    &:hover { color: #5C5C5C; }
    &:active { color: #5C5C5C; }
  }

  .productTitle {
    color: black;
    font-weight: bold;
  }
}