@import "./global-styles/theme/theme";

.Layout {
  height: 100%;
  width: 100%;
  color: $primary;
  font-family: $core-font;

  .Content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}