@import '~react-datepicker/dist/react-datepicker-cssmodules.css';

.RentalDateSelector {
  border: 1px solid black;
  display: flex;  
  margin: 20px 0;

  input {
    text-align: center;
    border: none;
  }

  .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;

    button {
      background: none;
      border: none;
    }
  }

}

