.VariantSelector {
  display: flex;
  flex-direction: column;

  .variant-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .option {
      background: white;
      border: 1px solid grey;
      padding: 20px;
      outline: none;
    }

    .selected {
      border: 1px solid black;
    }
  }
}