* {
  box-sizing: border-box;
}

html, body, #__next {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/**
* Lock the scroll position by adding this class to the `<html>` element.
*/
.u-lock-scroll {
  overflow: hidden !important;
}